install.ini
.config.ini
node_modules/
scripts/browser/package-lock.json
obj/
tmp/
config/*
!config/30-guacamole.conf
build/
dist/
*.o
*.zip
services/guacamole.service/guacamole.service
services/guacamole.service/tests/test_management
commands/guacamole.cmd/guacamole
commands/guacamole
polykernel/modules/*.module
services/guacamole.service/tests/test_tickets
libraries
dependencies/guacamole-server-source
dependencies/guacamole-server-install

logs/
